<!-- manager_sidebar.html -->
<div id="sidebar">
    <h2>Manager</h2>
    <ul>
        <li><a href="javascript:void(0);" onclick="loadContent('{% url 'manager_home' %}')">🏠 Home</a></li>
        <li><a href="javascript:void(0);" onclick="loadContent('{% url 'add_project' %}')">➕ Add Projects</a></li>
        <li><a href="javascript:void(0);" onclick="loadContent('{% url 'recommend_project' %}')">⚙️ Automate Projects</a></li>
        <li><a href="javascript:void(0);" onclick="loadContent('{% url 'skill_manage' %}')">🧠 Manage Skills</a></li>
    </ul>
</div>
